<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body>


    
    <div class="mainsignup">
        <button id="loginbuttom"> <a href="{% url 'index' %}">Home</a></button>
    
        <div class="signup1">
            <div id="signupheadding"><h1>Signup</h1></div>

            {% for message in messages %}
            <div  id="dataa" class="mas" class="alert alert-{{message.tage}} alert-dismissible fade show" role="alert">
                <p  class="messages">{{message}}</p>
                <button id="close1" onclick="deletedata()" class="close" data-dismiss="alert" aria-level="close">
                    <span aria-hidden="true"> &times;</span> 
                </button>
          
            </div>
            {% endfor %}

            <form action="" method="post" class="form1">
                {% csrf_token %}    
                <div class="fileld" id="fileld1">
                    <input required="" type="text" id="username" name="username" class="input">
                    <label for="username">UserName <span class="star">*</span></label>
                </div>

                <div class="fileld" id="fileld1">
                    <input required="" type="text" id="email" name="email" class="input">
                    <label for="email">E-mail <span class="star">*</span></label>
                </div>

                <div class="fileld" id="fileld1">
                    <input required="" type="text" id="fname" name="fname" class="input">
                    <label for="email">First Name <span class="star">*</span></label>
                </div>

                <div class="fileld" id="fileld1">
                    <input required="" type="text" id="lname" name="lname" class="input">
                    <label for="email">Last Name <span class="star">*</span></label>
                </div>

                <div class="fileld">
                    <input required="" type="password" id="pass" name="pass1" class="input">
                    <label for="password">Password <span class="star">*</span></label>
                    
                </div>
                <div class="fileld">
                    <input required="" type="password" id="pass" name="pass2" class="input">
                    <label for="password">Confirm Password <span class="star">*</span></label>
                </div>
            
                
                <div>
                    <button id="loginbuttom">Signup</button><br>
                    <div id="signup">Already have an Account ? <a href="{% url 'signin' %}">Login</a></div> <br>
                </div>
            </form>    

        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>